#API Base URL
VITE_API_BASE_URL=https://api.erp.rolaface.com

# ZRA Codes API
# VITE_ZRA_CODES_BASE_URL=https://zra-codes.izyanehub.com/api

# NAPSA API (UAT / Testing)
# VITE_NAPSA_BASE_URL=https://napsa-uat.izyanehub.com/api

# API Authentication Token
VITE_API_AUTH_TOKEN=your_api_token_here

# Company ID
VITE_COMPANY_ID=COMP-00004
VITE_LMS_URL=http://localhost:5174